<li class="burger-item">
    <div class="row">
        <div class="col-md-7">
	        <h6>{{burger_name}}</h6>
        </div>

        <div class="col-md-5">
	        <button class="change-devoured btn btn-primary" data-id="{{id}}">Devour!</button>
	        <button class="delete-burger btn btn-warning" data-id="{{id}}">Delete</button>
        </div>
    </div>
</li>