<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Burger Time</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Reset Styling-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--Personal Styling-->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
</head>
<body class="d-flex flex-column" id="main-body">
    {{{ body }}}

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-1.8.3.js"></script>
        
    <!--Page Javascript-->
    <script src="/assets/js/burger_html.js"></script>
</body>
</html>
