<!--Header-->
<header class="header-class">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <a class="navbar-brand nav-title px-2" href="https://nmikstas.github.io/portfolio/index.html">Nick Mikstas Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container text-center">
            <h1>Burger 2: The Revenge!</h1>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/resume.html">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/web.html">Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/embedded.html">Embedded</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/fpga.html">FPGA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/dsp.html">DSP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/games.html">Games</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<nav class="navbar navbar-default bg-secondary">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-user">Hello, {{user}}! </div>
            <a class="navbar-logout" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>

<!--Main content body-->
<div id="page-body" class="container">

    <div class="row no-gutters">
        <div class="col-md-2"></div>
        <div class="col-md-4 m-4">
            <img class="burger-image" src="/img/burger.png" alt="A Tasty Burger">
        </div>

        <div class="col-md-4 m-4 parent-div">
            <form>
                <label for="burger-input" class="label">Enter a burger you would like to eat</label>
                <div class="input-group">
                    <input class="form-control" id="burger-input" type="text" placeholder="Enter Burger Name">
                    <button class="btn btn-secondary ml-2 input-group-btn" id="burger-submit" type="submit">Add Burger</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>Burgers to Devour</h5>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burger-not-devoured}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-6">
            <h5>Burgers Devoured</h5>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burger-devoured}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="pt-4 pb-1">
    <div class="container text-center">
        <small>&copy;Nick Mikstas - nmikstas@alumni.scu.edu</small>
    </div>
</footer>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-1.8.3.js"></script>

<!--Page Javascript-->
<script src="/js/burger_html.js"></script>
