<!--Header-->
<header class="header-class">
    <nav class="navbar navbar-dark navbar-expand-lg"> 
        <div class="container text-center">
            <h1>Burger Time 2: The Revenge!</h1>
        </div>
    </nav>
</header>

<!--Main content body-->
<div id="login-body" class="container">
    
    <div class="log-in">
        <h2>Log In</h2>

        <div class="info-message"></div>

        <form class="login">
            <label>User Name:</label><br>
            <input type="text" id="username-input" name="username" class="form-control"><br>

            <label>Password:</label><br>
            <input type="password" id="password-input" name="password" class="form-control"><br>

            <button type="submit" class="btn btn-primary">Submit</button>

            <div class="float-right-div">
                <div class="member-div">Not a member?</div> <a href="/signup">Sign up here</a>
            </div>
        </form>
    </div>
</div>

<footer id="sticky-footer" class="pt-4 pb-1">
    <div class="container text-center">
        <small>&copy;Nick Mikstas - nmikstas@alumni.scu.edu</small>
    </div>
</footer>

<!--Bootstrap-->
<script 
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous">
</script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">
</script>

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<!--Login Javascript-->
<script type="text/javascript" src="js/login.js"></script>