<!--Header-->
<header class="header-class">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <a class="navbar-brand nav-title px-2" href="https://nmikstas.github.io/portfolio/index.html">Nick Mikstas Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container text-center">
            <h1>Burger 2: The Revenge!</h1>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/resume.html">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/web.html">Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/embedded.html">Embedded</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/fpga.html">FPGA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/dsp.html">DSP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nmikstas.github.io/portfolio/games.html">Games</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--Main content body-->
<div id="signup-body" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="sign-up col-md-6">
            <h2>Sign Up</h2>
            
            <div class="info-message"></div>

            <form class="signup">
                <label>User Name:</label><br>
                <input type="text" id="username-input" name="name" class="form-control"><br>

                <label>Email:</label><br>
                <input type="text" id="email-input" name="email" class="form-control"><br>

                <label>Password:</label><br>
                <input type="password" id="password-input" name="password" class="form-control"><br>

                <label>Confirm your password:</label><br>
                <input type="password" id="confirm-input" name="confirm" class="form-control"><br>

                <button type="submit" class="btn btn-primary">Submit</button>

                <div class="float-right-div">
                    <div class="member-div">Already a member?</div> <a href="/login">Log In here</a>
                </div>
            </form>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="pt-4 pb-1">
    <div class="container text-center">
        <small>&copy;Nick Mikstas - nmikstas@alumni.scu.edu</small>
    </div>
</footer>

<!--Bootstrap-->
<script 
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous">
</script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">
</script>

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Signup Javascript-->
<script type="text/javascript" src="js/signup.js"></script>